body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: rgb(246, 246, 246);
  color: #3b4351;
}
.card {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  max-width: 20rem;
  width: 100%;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.card-middle {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
}
.card-heading {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.card-subheading {
  margin-bottom: 1rem;
  color: #bdc5d2;
}

.card-buttons {
  display: flex;
}

.card-button {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid #5755d9;
  border-right: 0;
  color: #5755d9;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  
}

.card-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.card-button:last-child {
  border-right: 1px solid #5755d9;

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.card-button.active {
  background-color: #5755d9;
  color: white;
}

.card-button:hover {
  background-color: hsl(241, 63%, 89%);
  color: #5755d9;
}

.card-button:active,
.card-button:focus {
  background-color: hsl(241, 63%, 69%);
  color: white;
}
